<app-header></app-header>
<section class="container-fluid text-center">
    <div class="row flex-column align-items-center header-profil">
        <h4 class="h2 text-white">Bienvenue chez vous</h4>
        <img *ngIf="pictureProfil" class="col-sm-2" [src]='account.imageUrl' alt="Photo de profil">
        <svg *ngIf="!pictureProfil" xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
    </div>
    <div class="information-container">
        <h5>Prénom et Nom : <span class="text-uppercase">{{account.name}}</span></h5>
        <h5>Poste : {{account.jobTitle}}</h5>
        <h5>E-mail : {{account.email}}</h5>
        <div class="row flex-column align-items-center btn-container">
            <input class="btn" type="button" (click)="changeProfil()" value="Mettre à jour mes informations">
            <form [formGroup]="form" (ngSubmit)="onSubmitProfil()" *ngIf="newProfil"
                class="row flex-column align-items-center" #f="ngForm">
                <!--<label for="name">Votre prénom et nom</label>
                <input type="text" formControlName="name" class="btn btn-light" id="name" />-->
                <label for="jobTitle">Poste de travail</label>
                <input class="btn btn-light" type="text" id="jobTitle" name="jobTitle" formControlName="jobTitle" ngModel required>
                <input class="file-container" type="file" accept="image/*" #imageInput (change)="onFileAdded($event)"
                    formControlName="imageUrl" id="imageUrl">
                <button type="submit" class="btn btn-delete text-dark">Valider</button>
            </form>
        </div>
    </div>
    <input class="btn btn-light btn-delete" type="button" value="Supprimer mon compte" (click)="onDeleteProfil()">
</section>
<footer class="text-muted text-center">
    <p>© CONNECT-E - 2020 - Tous droits réservés</p>
</footer>