<header class="fixed-top">
    <app-header></app-header>
    <app-navbar></app-navbar>
</header>
<section class="container-fluid" *ngFor='let user of templateArticleForm'>
    <div class="row align-items-start">
        <img class="col-sm-1" [src]='account.imageUrl'>
        <div>
            <h2 class="h5 font-weight-bold">{{account.name}}</h2>
            <h3 class="h6 text-muted">{{account.jobTitle}}</h3>
        </div>
    </div>
    <form [formGroup]="articleForm">
        <div class="form-group">
            <label for="publication" class="sr-only">Publication</label>
            <textarea id="publication" name="publication" type="text" class="form-control" placeholder="Partage avec nous ce que tu veux {{user.name}}" formControlName="publication" required></textarea>
            <button type="submit" (click)="onSubmit()" class="btn btn-dark col-12" [disabled]="articleForm.invalid">Publier</button>
        </div>
    </form>
</section>
<app-footer></app-footer>
