<app-header></app-header>
<app-navbar></app-navbar>
<section>
    <img class="col-12" src="assets/groupomania.png" alt="Photo du bâtiment de Groupomania">
    <h1 class="h3 text-center">Vous êtes chez vous ici <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
    </h1>
    <p class="container text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut
        labore et dolore magna aliqua. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin. Proin
        fermentum leo vel orci porta. Amet cursus sit amet dictum sit amet. Ultrices mi tempus imperdiet nulla malesuada
        pellentesque elit. Curabitur gravida arcu ac tortor dignissim. Suscipit adipiscing bibendum est ultricies
        integer quis. Tellus elementum sagittis vitae et. At risus viverra adipiscing at in tellus integer feugiat.
        Pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Pulvinar etiam non quam lacus suspendisse
        faucibus interdum posuere lorem. Elit ut aliquam purus sit amet luctus venenatis lectus. Dolor sit amet
        consectetur adipiscing elit ut. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Pulvinar
        pellentesque habitant morbi tristique senectus et netus et malesuada. Congue nisi vitae suscipit tellus mauris.
        Convallis convallis tellus id interdum velit.<br><br>

        Et molestie ac feugiat sed lectus vestibulum. Quis eleifend quam adipiscing vitae proin sagittis. Lacus
        suspendisse faucibus interdum posuere lorem. Turpis in eu mi bibendum neque egestas. Ipsum suspendisse ultrices
        gravida dictum fusce ut placerat. Interdum velit euismod in pellentesque massa placerat duis. Diam quis enim
        lobortis scelerisque fermentum dui faucibus. Nibh venenatis cras sed felis eget velit aliquet sagittis. Lorem
        sed risus ultricies tristique. Arcu vitae elementum curabitur vitae nunc sed. Vestibulum rhoncus est
        pellentesque elit ullamcorper dignissim cras. Tristique sollicitudin nibh sit amet commodo nulla facilisi
        nullam. Ac feugiat sed lectus vestibulum mattis. Nisi vitae suscipit tellus mauris. Montes nascetur ridiculus
        mus mauris vitae. Ornare massa eget egestas purus viverra accumsan in. Eget dolor morbi non arcu risus.
    </p>
</section>
<app-footer></app-footer>