<section class="auth-container row flex-column justify-content-between align-items-center text-white">
    <header class="text-center">
        <h1 class="h3">Bienvenue chez vous</h1>
        <img class="col-md-5" src="assets/logo/icon-left-font-monochrome-white.png" alt="Logo de Groupomania">
    </header>
    <main id="btn-container" class="row flex-column">
        <a routerLink="login" class="btn-lg btn btn-light text-uppercase">Se connecter</a>
        <a routerLink="sign" class="btn-lg btn btn-light text-uppercase">Créer un compte</a>
    </main>
    <footer class="text-muted">
        <p>© CONNECT-E - 2020 - Tous droits réservés</p>
    </footer>
</section>